.container00{
    &.container07{
        background-image: url(../../img/bg-img/banner.png);    
    }
}

.titlePadding {
    padding-top: 300px;
}

.shortTitle {
    width: 550px;
}

.mediumTitle {
    width: 650px;
    margin-bottom: 25px;
}

@media(max-width: 750px) {
    .titlePadding {
        padding-top: 120px;
    }

    .shortTitle, 
    .mediumTitle {
        width: auto;
        font-size: 50px;
    }
}

@media (max-width: 380px) {
    .shortTitle, 
    .mediumTitle {
        width: auto;
        font-size: 40px;
    }
}